**Ex 1. Scalar objects / Typy danych skalarnych**

In [ ]:
number = 10
type(number)

int

In [ ]:
number = 1.0
type(number)

float

In [ ]:
bool_var = True   # False
type(bool_var)

bool

In [ ]:
number: int = 1
Number: float = 1.0
print(number)
print(Number)

1
1.0

In [ ]:
number: str = 1
Number: int = 1.0
print(number)
print(type(number))
print(Number)

1
<class 'int'>
1.0

**Ex 2. Print - printing the message to the standard output device / wyświetlanie w konsoli**

In [ ]:
x, y, z = 0, 2.0, 5
print('x = ',x)
print('y = {:.2f}'.format(y))
print(f'z = {y*z}')

x =  0
y = 2.00
z = 10.0

In [ ]:
var: int = 10
print(f'{var=}')

var=10

In [ ]:
print(f'{5+5=}')
print(f'{5 + 5 = }')

5+5=10
5 + 5 = 10

In [ ]:
var: float = 3.1415926
print(f'{var:.4f}')

3.1416

In [ ]:
var: float = 0.4526
print(f'{var:.2%}')
print(f'{var:.1%}')

45.26%
45.3%

In [ ]:
var: int = 2_000_000_000_000
print(var)
print(f'{var:,}')
print(f'{var:_}')

2000000000000
2,000,000,000,000
2_000_000_000_000

In [ ]:
# nested f-strings
print(f'{2*2} {f"{3*3}"}')

4 9

In [ ]:
#***
txt: str = 'Python'
print(f'{txt:_>10}')
print(f'{txt:*^10}')
print(f'{txt:_<10}')

____Python
**Python**
Python____

In [ ]:
txt: str = 'Python'
print(f'{txt:>10}')
print(f'{txt:^10}')
print(f'{txt:<10}: is script language')

    Python
  Python
Python    : is script language

In [ ]:
txt: str = 'Python'
idx: int = 15
print(f'{txt:>{idx}}')
print(f'{txt:^{idx+5}}')
print(f'{txt:{idx}}')

         Python
       Python
Python

**Ex 3. Arithmetic operators / Operatory matematyczne**

https://www.w3schools.com/python/python_operators.asp

In [ ]:
# Division - integer
print(7//4)
# Division - modulus / reminder
print(7%4)
# Exponentiation
print(2**5)

1
3
32

**Ex 4. Strings / Obiekty typu string**

https://www.w3schools.com/python/python_strings.asp

In [ ]:
a = "Python"
b = "language"
c = a + b
print(c)
c = a + " " + b
print(c)
c = 2 * a + b
print(c)

Pythonlanguage
Python language
PythonPythonlanguage

In [ ]:
a = "Python"
print(len(a))
print(a[0])
print(a[1])
print(a[-1])
print(a[-2])

6
P
y
n
o

**Ex 5. Modify strings / Praca z obiektami typu string**

In [ ]:
# String slicing - substrings
a = "Python languages"
print(a[2:5])   # [start:stop]
print(a[0:8:3]) # [start:stop:step]
print(a[::2])
print(a[::-1])
print(a[6:2:-2])
print(a[4:1])

tho
Ph
Pto agae
segaugnal nohtyP
 o

In [ ]:
a = "Python language"
print(a)
print(a[2])

Python language
t

In [ ]:
# String are immutable
a = "Python language"
a[2]='X'

TypeError: 'str' object does not support item assignment

In [ ]:
a = "Python language"
a = a[:2] + "X" + a[3:]
print(a)

PyXhon language

In [ ]:
x = input("Enter text: ")
print(2*x)

Enter text: testr
testrtestr

**Ex 6. from ... import - Python modules / Dodanie modułu/biblioteki**

https://www.w3schools.com/python/python_modules.asp

In [ ]:
import datetime

this_minute = datetime.datetime.today().minute
print(this_minute)

0

In [ ]:
from datetime import datetime

this_minute = datetime.today().minute
print(this_minute)

15

**Ex 7. from ... import ... as - Python modules / Dodanie modułu/biblioteki**

In [ ]:
from datetime import datetime as dt

this_minute = dt.today().minute
print(this_minute)

15

In [ ]:
from datetime import datetime as dt
now: datetime = dt.now()
print(f'{now:%x}')
print(f'{now:%c}')
print(f'{now:%H:%M:%S}')

03/10/25
Mon Mar 10 14:01:11 2025
14:01:11

**Ex 8. Conditions and If statements / Instrukcja warunkowa (if ... elif ... else)**

https://www.w3schools.com/python/python_conditions.asp

In [ ]:
import time as t

today = t.strftime("%A")
if today == "Saturday":
  print("Python course")
elif today == "Sunday":
  print("No Python classes")
else:
  print("No classes at all")

if today != "Sonnabend":
  print("Please use English")

a = 5
b = 10
if a>3 and b<8:
  print("True")
else:
  print("False")

if a>3 or b<8:
  print("True")
else:
  print("False")

found = False
if not found:
  print("It is working")
else:
  print("No it isn't")

No classes at all
Please use English
False
True
It is working

**Ex 9. Python For Loops / Pętla for**

https://www.w3schools.com/python/python_for_loops.asp

In [ ]:
for i in [1,2,3,5]:
    print(i)
print("----------")

for i in "Python":
    print(i)
print("----------")

for i in range(4):
  print(i)
  print("Python")
print("----------")

1
2
3
5
----------
P
y
t
h
o
n
----------
0
Python
1
Python
2
Python
3
Python
----------

In [ ]:
print(range(4))

print(list(range(4)))

print(list(range(4,10)))

print(list(range(0,8,2)))

print(list(range(8,0,-2)))

range(0, 4)
[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]
[0, 2, 4, 6]
[8, 6, 4, 2]

In [ ]:
items = ['a','b','c','d','e']

for item in items:
  if item == 'b':
    items.remove('b')   # ['a','c','d','e']
  else:
    print(item)

a
d
e

In [ ]:
items = ['a','b','c','d','e']
new_items = []

for item in items:
  if item == 'b':
    continue
  else:
    print(item)
    new_items.append(item)

a
c
d
e

**Ex 10. The while loop / Pętla while**

https://www.w3schools.com/python/python_while_loops.asp

In [ ]:
# while
counter = 0

while counter < 3:
    print("Inside while")
    counter += 1
else:
    print("Inside else")

# do-while
while True:
    number = int(input("Enter a positive number: "))
    if number > 0:
        print("OK")
        break
    print('Negative number')

# pass
while int(input("Enter an number geater than 10: ")) <= 10:
  pass
print("Ok")

Inside while
Inside while
Inside while
Inside else
Enter a positive number: 5
OK
Enter an number geater than 10: 2
Enter an number geater than 10: 4
Enter an number geater than 10: 5
Enter an number geater than 10: 6
Enter an number geater than 10: 12
Ok

**Ex 11. match-case**

In [ ]:
def weekday(n):
   match n:
      case 0: return "Monday"
      case 1: return "Tuesday"
      case 2: return "Wednesday"
      case 3: return "Thursday"
      case 4: return "Friday"
      case 5: return "Saturday"
      case 6: return "Sunday"
      case _: return "Invalid day number"

print(weekday(3))
print(weekday(6))
print(weekday(7))

**Ex 12. Binary conversion / Reprezentacja binarna**

In [ ]:
x = 0
for i in range(10):
  x += 0.1
print(x==1)
print(x, '==', 10*0.1)

False
0.9999999999999999 == 1.0

**Ex 13. List / Lista**

https://www.w3schools.com/python/python_lists.asp

In [ ]:
temps = [ 0.0, 100.0, -17.78, 27.5, 37.78, 7.39 ]
print(temps)
car_details = [ 'Kia', 'Sportage', 1.6, 3200]
print(car_details)
list_of_lists = [ [ 1, 2, 3], ['a', 'b', 'c' ], [ 'One','Two','Three' ] ]
print(list_of_lists)

[0.0, 100.0, -17.78, 27.5, 37.78, 7.39]
['Kia', 'Sportage', 1.6, 3200]
[[1, 2, 3], ['a', 'b', 'c'], ['One', 'Two', 'Three']]

In [ ]:
list_1 = [1,2,3]
list_2 = [4,5,6,7,8]

print(list_1 + list_2)
max(list_2)
print(len(list_1))
print(list_1[0])
list_1[0] = 10    # mutability
print(list_1)
print(list_2[-1])

[1, 2, 3, 4, 5, 6, 7, 8]
3
1
[10, 2, 3]
8

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']
word = input("Write a word: ")
found = []
for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)

for vowel in found:
    print(vowel)

Write a word: reafargrgrea
e
a

**Ex 14. Remove list items / Lista - usuwanie elementów**

In [ ]:
numbers = [1,2,4,8]
print(numbers)

# usuniecie elementu o okreslonej wartosci
numbers.remove(4)
print(numbers)

# usuniecie elementu o okreslonym indeksie
del_num = numbers.pop(1)
print(numbers)
print(del_num)

#usuniecie
del numbers[0]
print(numbers)

[1, 2, 4, 8]
[1, 2, 8]
[1, 8]
2
[8]

In [ ]:
# The id() function returns a unique id for the specified object.
list_1 = [1,2,3]
list_2 = list_1[:]
print(id(list_1))
print(id(list_2))

list_1.append(4)
list_2.append(4)
print(id(list_1))
print(id(list_2))

list_1.clear()
list_2 = []
print(id(list_1))
print(id(list_2))

138073840729024
138073829639232
138073840729024
138073829639232
138073840729024
138073829601472

**Ex 15. Add list items / Lista - dodawanie elementów**

In [ ]:
numbers = []
print(len(numbers))

numbers.append(10)
print(numbers)

numbers = [1,2,3,4]
print(numbers)

# rozszerzenie o liste obiektów
numbers.extend([5,6])
print(numbers)

numbers.extend([[20,21],[31,32]])
print(numbers)

# rozszerzenie o obiekt (5) wstawiony PRZED indeksem(0)
numbers.insert(0,5)
print(numbers)

numbers.insert(1,25)
print(numbers)

0
[10]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [20, 21], [31, 32]]
[5, 1, 2, 3, 4, 5, 6, [20, 21], [31, 32]]
[5, 25, 1, 2, 3, 4, 5, 6, [20, 21], [31, 32]]

In [ ]:
numbers = [1,2,3,4]
print(numbers)

numbers.append([5,6])
print(numbers)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [ ]:
#In Python everythins is an object
numbers = [1,2,3,4]
print(numbers)
numbers = numbers.append(100)
print(numbers)

[1, 2, 3, 4]
None

**Ex 16. Copy a list / Lista - kopiowanie**

In [ ]:
numbers = list(range(10))
numbers2 = numbers          # alias, copy.deepcopy
numbers3 = numbers.copy()
print(numbers)
print(numbers2)
print(numbers3)

numbers.append(100)
print(numbers)
print(numbers2)
print(numbers3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = list(range(10))
numbers2 = numbers[:]
numbers2.append(100)
print(numbers)
print(numbers2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

**Ex 17. List - slicing / Lista - wycinki**

In [ ]:
s_letters = "AbCdEfGh"
letters = list(s_letters)
print(s_letters)
print(letters)

print(letters[0])
print(letters[2])
print(letters[-1])
print(letters[-3])

print(letters[3:])
print(letters[:2])
print(letters[::2])
print(letters[1:3])
print(letters[0:7:2])

for ch in letters:
    print('\t',ch)

for ch in letters[0:7:2]:
    print('\t \t',ch)

AbCdEfGh
['A', 'b', 'C', 'd', 'E', 'f', 'G', 'h']
A
C
h
f
['d', 'E', 'f', 'G', 'h']
['A', 'b']
['A', 'C', 'E', 'G']
['b', 'C']
['A', 'C', 'E', 'G']
	 A
	 b
	 C
	 d
	 E
	 f
	 G
	 h
	 	 A
	 	 C
	 	 E
	 	 G

In [ ]:
my_list = [1,3,5,7]
my_list = [i+1 for i in my_list]
print(my_list)

my_list = [1,3,4,5,7,8]
my_list = [i for i in my_list if i % 2 == 0]
print(my_list)

my_list = [1,3,4,5,7,8]
my_list = ['Even' if i%2 == 0 else 'Odd' for i in my_list]
print(my_list)

my_list = [1,3,4,5,7,8]
def func(i):
    if i % 2 == 0: return 'Even'
    else: return 'Odd'
new_list = [func(i) for i in my_list]
print(new_list)

[2, 4, 6, 8]
[4, 8]
['Odd', 'Odd', 'Even', 'Odd', 'Odd', 'Even']
['Odd', 'Odd', 'Even', 'Odd', 'Odd', 'Even']

In [ ]:
my_list = list(range(4))
print(my_list)
for l in my_list:
  my_list = my_list + my_list
  print(my_list)

[0, 1, 2, 3]
[0, 1, 2, 3, 0, 1, 2, 3]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [ ]:
# String to list
s = "This is Python course"
l = list(s)
print(l)
l = s.split(' ')
print(l)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'o', 'u', 'r', 's', 'e']
['This', 'is', 'Python', 'course']

In [ ]:
letters = list("AbCdEfGh")
print(letters)

a = ''.join(letters)
print(f'a = {a}')
b = '_'.join(letters)
print(f'b = {b}')
c = '**'.join(letters)
print(f'c = {c}')
print(''.join(letters[-3:]))
print(''.join(letters[::-1]))

['A', 'b', 'C', 'd', 'E', 'f', 'G', 'h']
a = AbCdEfGh
b = A_b_C_d_E_f_G_h
c = A**b**C**d**E**f**G**h
fGh
hGfEdCbA

In [ ]:
print(''.join([1,2,3]))

TypeError: sequence item 0: expected str instance, int found

In [ ]:
l = [4,2,1,19]
print(l)
l.sort()
print(l)
l.reverse()
print(l)

[4, 2, 1, 19]
[1, 2, 4, 19]
[19, 4, 2, 1]

In [ ]:
l = [4,2,1,19]
sorted_l = l.sort()
print(f'l = {l}')
print(f'sorted_l = {sorted_l}')

l = [1, 2, 4, 19]
sorted_l = None

**Ex 18. Dictionary / Słownik**

https://www.w3schools.com/python/python_dictionaries.asp

In [ ]:
t_dict = {2:100}
print(t_dict)

{2: 100}

In [ ]:
t_dict = {'number':100}
print(t_dict)

{'number': 100}

In [ ]:
number_1 = 2
t_dict = {(number_1,):['1','2','3']}
print(t_dict)

{(2,): ['1', '2', '3']}

In [ ]:
#key - any immutable object - str,int,float,bool,tuple
#key - must be unique
number_1 = 2
t_dict = {['1','2','3']:(number_1,)}
print(t_dict)

TypeError: unhashable type: 'list'

In [ ]:
person = {'Name': 'Tom',
          'Phone': '123456789',
          'Occupation': 'engineer',
          'Home planet': 'Earth'}
print(person)
print(person['Home planet'])

person['Age'] = '21'
print(person)

{'Name': 'Tom', 'Phone': '123456789', 'Occupation': 'engineer', 'Home planet': 'Earth'}
Earth
{'Name': 'Tom', 'Phone': '123456789', 'Occupation': 'engineer', 'Home planet': 'Earth', 'Age': '21'}

In [ ]:
#vowels = {'a' : 0, 'e' : 0, 'i' : 0, 'o' : 0, 'u' : 0}
vowels = ['a','e','i','o','u']
found_vowels ={}
word = input("Enter Your word: ")
for letter in word:
    if letter in vowels:
        found_vowels.setdefault(letter,0)
        found_vowels[letter] += 1

#k:v -> key:values / k:v -> klucz:wartość
for k, v in sorted(found_vowels.items()):
    print(k, 'found', v, 'times')

# keys only / tylko klucze
for key in person.keys():
  print(key.title())

# values only / tylko wartości
for val in person.values():
  print(val.title())

del person['Occupation']
print(person)

print(person.get('Occupation','Key does not exist'))

Enter Your word: zccZZcZ
Name
Phone
Occupation
Home Planet
Age
Tom
123456789
Engineer
Earth
21
{'Name': 'Tom', 'Phone': '123456789', 'Home planet': 'Earth', 'Age': '21'}
Key does not exist

In [ ]:
t_dict = {'Grade_1':'5.0',
          'Grade_2':'4.5',
          'Grade_3':'4.0'}

print('Grade_2' in t_dict)
print('5.0' in t_dict)

True
False

In [ ]:
t_dict = {"quiz_1":{'q1':[0,1,0,1],'q2':[1,1,1,0],'q3':[0,0,1,0]},
          "quiz_2":{'q1':[1,1,0,1],'q2':[0,1,0,0],'q3':[1,0,0,0]}}

print(t_dict['quiz_1']['q1'][2])

0

**Ex 19. Set / zbiór**

https://www.w3schools.com/python/python_sets.asp

In [ ]:
#no duplicates
vowels = set('aeiou')
print(f'vowels set: {vowels}')

word = input("Enter Your word: ")

sum_sets = vowels.union(set(word))
print(sum_sets)

diff_sets = vowels.difference(set(word))
print(diff_sets)

common_part=vowels.intersection(set(word))
print(common_part)

vowels set: {'a', 'o', 'e', 'i', 'u'}
Enter Your word: gsag;dsagkdsgkds;
{'a', 'o', 'k', 'd', 'g', 's', 'e', 'i', ';', 'u'}
{'o', 'u', 'i', 'e'}
{'a'}

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {2, 3, 4}

print(set_a - set_b)
print(set_b - set_a)

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {2, 3, 4}

print(set_a & set_b)

{2, 3}

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {2, 3, 4}

print(set_a | set_b)

{1, 2, 3, 4}

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {2, 3, 4}

print(set_a ^ set_b)

{1, 4}

In [ ]:
set_a: set[int] = {1, 2, 3, 4}
set_b: set[int] = {1, 2, 3}

print(set_a == set_b)
print(set_a >= set_b)
print(set_a <= set_b)

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {1, 2, 3, 4}

print(set_a == set_b)
print(set_a >= set_b)
print(set_a <= set_b)

False
False
True

In [ ]:
set_a: set[int] = {1, 2, 3, 4}
set_b: set[int] = {1, 3, 4}

set_a.difference_update(set_b)  # set_a -= set_b
print(set_a)

{2}

In [ ]:
set_a: set[int] = {1, 2, 3, 4, 5}

set_a.discard(2)
print(set_a)
set_a.discard(10)
print(set_a)

try:
  set_a.remove(10)
  print(set_a)
except:
  print(f'10 is not in {set_a}')

{1, 3, 4, 5}
{1, 3, 4, 5}
10 is not in {1, 3, 4, 5}

**Ex 20. Tuple / Krotka**

https://www.w3schools.com/python/python_tuples.asp

In [ ]:
#tuple vs string
t = ('P','y','t','h','o','n')
print(t)
t = ('Python')
print(type(t))
t = ('Python',)
print(t)
print(type(t))

# tuple - indexable, immutable(it is not possible to change value of any component)
t_1 = (2)
print(type(t_1))
t_2 = (2,)
print(type(t_2))

t = (1,'tuple',2,5,6)
print(t[0])
print(t[1])
print(t[1:3])
for e in t:
  print(e)

('P', 'y', 't', 'h', 'o', 'n')
<class 'str'>
('Python',)
<class 'tuple'>
<class 'int'>
<class 'tuple'>
1
tuple
('tuple', 2)
1
tuple
2
5
6

In [ ]:
# swap variables
x = 1
y = 2
(x,y) = (y,x)
print(x)
print(y)

# return more than 1 value from a function
def quotient_and_reminder(x,y):
  q = x // y
  r = x % y
  return (q,r)
result = quotient_and_reminder(7,2)
print(result[0],result[1])

2
1
3 1

In [ ]:
(c,v) = (0,0)
t=(c,v)
c+=1
print((c,v))
t[0]+=1
type((c,v))

(1, 0)

TypeError: 'tuple' object does not support item assignment

**Ex 21. Function / Funkcje**

https://www.w3schools.com/python/python_functions.asp

In [ ]:
def search4vowels():
    vowels = set('aeiou')
    word = input("Enter a word in which you want to search for vowels: ")
    found = vowels.intersection(set(word))
    for vowel in found:
        print(vowel)

search4vowels()

Enter a word in which you want to search for vowels: fdsfsdfd

In [ ]:
def search4vowels(word):
    vowels = set('aeiou')
    found = vowels.intersection(set(word))
    return bool(found)

print(search4vowels("Test"))

True

In [ ]:
def search4vowels(word, a = 1):
    vowels = set('aeiou')
    return vowels.intersection(set(word))

print(search4vowels("atest"))

{'e', 'a'}

**Ex 22. Recursion / Funkcja rekurencyjna**

In [ ]:
def change(phrase, position):
    if phrase[position].isupper():
        phrase = phrase[0:position] + phrase[position].lower() + phrase[position+1:]
    else:
        phrase = phrase[0:position] + phrase[position].upper() + phrase[position+1:]
    if position == len(phrase)-1: return phrase;
    return change(phrase, position+1)

txt = "Long long time ago. In the galaxy far away..."
print(change(txt, 0))

lONG LONG TIME AGO. iN THE GALAXY FAR AWAY...

In [ ]:
def sum_list(t_list):
  if len(t_list) == 1:
    return t_list[0]
  else:
    return t_list[0] + sum_list(t_list[1:])

t_list = list(range(11))
print(t_list)
print(sum_list(t_list))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [ ]:
def rev_list(t_list):
  if len(t_list) == 1:
    return t_list
  else:
    return rev_list(t_list[1:]) + [t_list[0]]

t_list = [[1,2],[3,4,5],['a','j','k']]
print(t_list)
print(rev_list(t_list))

[[1, 2], [3, 4, 5], ['a', 'j', 'k']]
[['a', 'j', 'k'], [3, 4, 5], [1, 2]]

**Ex 23. Help**

In [ ]:
def search4letters(word:str, letters:str="aeiou") -> set:
    """
    Looks up letters in input word / Wyszukuje litery w słowie wejściowym
    If 2nd argument is missing, looks up vowels / W przypadku braku 2 argumentu, wyszukuje samogłoski
    """
    return set(letters).intersection(set(word))

help(search4letters)
print(search4letters("atest"))

Help on function search4letters in module __main__:

search4letters(word: str, letters: str = 'aeiou') -> set
    Looks up letters in input word / Wyszukuje litery w słowie wejściowym
    If 2nd argument is missing, looks up vowels / W przypadku braku 2 argumentu, wyszukuje samogłoski

{'e', 'a'}

**Ex 24. Fuction is an object / Funkcja jest obiektem**

In [ ]:
a = print(5)
print(a)

5
None

In [ ]:
def is_even(x):
  return x%2 == 0

new_fun = is_even
new_fun(3)

False

In [ ]:
def calc(op,a,b):
  return op(a,b)

def add(a,b):
  return a+b

def mul(a,b):
  return a*b

print(calc(add,2,3))
print(calc(mul,10,2))

5
20

In [ ]:
def add_2(a):
  return a+2

def add2even(c):
  if c%2 == 0:
    return add_2(c)
  else:
    return 'Did not increase'

print(add2even(42))
print(add2even(1))

44
Did not increase

**Ex 25. Functions - access to variables/ Funkcje - dostęp do zmiennych - poziomy widoczności**

In [ ]:
print("Function 1")
def f(y):
  x = 1
  x += 1
  print(x)

x = 10
f(x)
print(x)

print("Function 2")
def g(y):
  print(x)
  print(x+1)

x = 10
g(x)
print(x)

print("Function 3")
def h(y):
  x += 1

x = 10
h(x)
print(x)

Function 1
2
10
Function 2
10
11
10
Function 3

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

**Ex 26. Global variables**

https://www.w3schools.com/python/python_variables_global.asp

In [ ]:
def h(y):
  global x
  x +=1

x = 10
h(x)
print(x)

11

**Ex 27. Lambda function - anonymous function / Lambda, czyli funkcje anonimowe**

https://www.w3schools.com/python/python_lambda.asp

In [ ]:
def is_even(x):
  return x%2 == 0

print(is_even(3))

print((lambda x: x%2 == 0)(6))

False
True

**Ex 28. Function - variable number of arguments / Funkcje - zmienna ilość parameterów**

In [ ]:
def vargs_func(*args):
    print(args)

vargs_func('a','b','c')
vargs_func(1,2,3,4,5)

('a', 'b', 'c')
(1, 2, 3, 4, 5)

In [ ]:
def vargs_func(*args):
    print("Number of arguments:",len(args))
    for arg in args:
        print ("Value:",arg)

lista = [1,2,3,4]
vargs_func(1,lista,2,'xyz',3)

Liczba przekazanych parametrów: 5
Wartość: 1
Wartość: [1, 2, 3, 4]
Wartość: 2
Wartość: xyz
Wartość: 3

In [ ]:
def vargs_func(**kwargs):
    print("Number of arguments:",len(kwargs))
    for key, item in kwargs.items():
        print ("Key ", key, "Value ", item)

vargs_func(a=1,b=2,c=3)

Number of arguments: 3
Key  a Value  1
Key  b Value  2
Key  c Value  3

In [ ]:
def vargs_func(*args, **kwargs):
    print("Number of parameters *args:",len(args))
    for arg in args:
        print ("Arg ", arg)

    print("Number of parameters **kwargs:",len(kwargs))
    for key, item in kwargs.items():
        print ("Key ", key, "Value ", item)

vargs_func(1,2,'x',[1,'a',2],a=1,b=2,c=3)

Number of parameters *args: 4
Arg  1
Arg  2
Arg  x
Arg  [1, 'a', 2]
Number of parameters **kwargs: 3
Key  a Value  1
Key  b Value  2
Key  c Value  3

**Ex 29. Function - list as an agrument / Funkcje - przekazanie listy**

In [ ]:
t_list = list(range(1,6))
print(t_list)

def add2list(list):
  list[1] = 20
  list.append(10)

add2list(t_list)
print(t_list)

[1, 2, 3, 4, 5]
[1, 20, 3, 4, 5, 10]

In [ ]:
t_list = list(range(1,6))
print(t_list)

def add2list(list):
  list[1] = 20
  list.append(10)

add2list(t_list[:])
print(t_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
def print3args(arg1,arg2,arg3):
  print(f'Argument 1 = {arg1}')
  print(f'Argument 2 = {arg2}')
  print(f'Argument 2 = {arg3}')

print3args(*['one','two','three'])

Argument 1 = one
Argument 2 = two
Argument 2 = three