**Introduction to Python programming / Wprowadzenie do programowania w języku Python**

ver. 2025.10

**Ex 1. Scalar Objects / Typy danych skalarnych**

In [ ]:
number = 10
type(number)

In [ ]:
number = 1.0
type(number)

In [ ]:
bool_var = True   # False
type(bool_var)

In [ ]:
number: int = 1
Number: float = 1.0
print(number)
print(Number)

In [ ]:
number: str = 1
Number: int = 1.0
print(number)
print(type(number))
print(Number)

**Ex 2. Print - printing the message to the standard output device / wyświetlanie w konsoli**

https://www.kdnuggets.com/beginners-guide-to-string-manipulation-in-python

In [ ]:
x, y, z = 0, 2.0, 5
print('x = ',x)
print('y = {:.2f}'.format(y))
print(f'z = {y*z}')

In [ ]:
var: int = 10
print(f'{var=}')

In [ ]:
print(f'{5+5=}')
print(f'{5 + 5 = }')

In [ ]:
var: float = 3.1415926
print(f'{var:.4f}')

In [ ]:
var: float = 0.4526
print(f'{var:.2%}')
print(f'{var:.1%}')

In [ ]:
var: int = 2_000_000_000_000
print(var)
print(f'{var:,}')
print(f'{var:_}')

In [ ]:
# nested f-strings
print(f'{2*2} {f"{3*3}"}')

In [ ]:
txt: str = 'Python'
print(f'{txt:_>10}')
print(f'{txt:*^12}')
print(f'{txt:+<10}')

In [ ]:
txt: str = 'Python'
print(f'{txt:>10}')
print(f'{txt:^10}')
print(f'{txt:<10}: is script language')

In [ ]:
txt: str = 'Python'
idx: int = 15
print(f'{txt:>{idx}}')
print(f'{txt:^{idx+5}}')
print(f'{txt:{idx}}')

**Ex 3. Arithmetic Operators / Operatory matematyczne**

https://www.w3schools.com/python/python_operators.asp

In [ ]:
# Division - integer
print(7//4)
# Division - modulus / reminder
print(7%4)
# Exponentiation
print(2**5)

**Ex 4. Strings / Obiekty typu string**

https://www.w3schools.com/python/python_strings.asp

In [ ]:
a = "Python"
b = "language"
c = a + b
print(c)
c = a + " " + b
print(c)
c = 2 * a + b
print(c)

In [ ]:
a = "Python"
print(len(a))

In [ ]:
print(a[0])

In [ ]:
print(a[1])

In [ ]:
print(a[-1])

In [ ]:
print(a[-2])

**Ex 5. Modify Strings / Praca z obiektami typu string**

In [ ]:
# String slicing - substrings
a = "Python languages"
print(a[2:5])   # [start:stop-1]

In [ ]:
print(a[0:8:3]) # [start:stop-1:step]

In [ ]:
print(a[::2])

In [ ]:
print(a[::-1])

In [ ]:
print(a[6:2:-2])

In [ ]:
print(a[4:1])

In [ ]:
# String are immutable
a = "Python language"
a[2]='X'

In [ ]:
a = "Python language"
a = a[:2] + "X" + a[3:]
print(a)

In [ ]:
x = input("Enter text: ")
print(2*x)

**Ex 6. from ... import - Python modules / Dodanie modułu/biblioteki**

https://www.w3schools.com/python/python_modules.asp

In [ ]:
import datetime

this_minute = datetime.datetime.today().minute
print(this_minute)

In [ ]:
from datetime import datetime

this_minute = datetime.today().minute
print(this_minute)

**Ex 7. from ... import ... as - Python modules / Dodanie modułu/biblioteki**

In [ ]:
from datetime import datetime as dt

this_minute = dt.today().minute
print(this_minute)

In [ ]:
from datetime import datetime as dt
now: datetime = dt.now()
print(f'{now:%x}')
print(f'{now:%c}')
print(f'{now:%H:%M:%S}')

**Ex 8. Conditions and If statements / Instrukcja warunkowa (if ... elif ... else)**

https://www.w3schools.com/python/python_conditions.asp

In [ ]:
import time as t

today = t.strftime("%A")
if today == "Saturday":
  print("Python course")
elif today == "Sunday":
  print("No Python classes")
else:
  print("No classes at all")

In [ ]:
import time as t

today = t.strftime("%A")
if today != "Sonnabend":
  print("Please use English")

In [ ]:
a = 5
b = 10
if a>3 and b<8:
  print("True")
else:
  print("False")

In [ ]:
a = 5
b = 10
if a>3 or b<8:
  print("True")
else:
  print("False")

In [ ]:
found = False
if not found:
  print("It is working")
else:
  print("No it isn't")

**Ex 9. Python For Loops / Pętla for**

https://www.w3schools.com/python/python_for_loops.asp

In [ ]:
for i in [1,2,3,5]:
    print(i)

In [ ]:
for i in "Python":
    print(i)

In [ ]:
for i in range(4):
  print(i)
  print("Python")

In [ ]:
print(range(4))

In [ ]:
print(list(range(4)))

In [ ]:
print(list(range(4,10)))

In [ ]:
print(list(range(0,8,2)))

In [ ]:
print(list(range(8,0,-2)))

In [ ]:
items = ['a','b','c','d','e']

for item in items:
  if item == 'b':
    items.remove('b')   # ['a','c','d','e']
  else:
    print(item)

In [ ]:
items = ['a','b','c','d','e']
new_items = []

for item in items:
  if item == 'b':
    continue
  else:
    print(item)
    new_items.append(item)

**Ex 10. The while loop / Pętla while**

https://www.w3schools.com/python/python_while_loops.asp

In [ ]:
# while
counter = 0

while counter < 3:
    print("Inside while")
    counter += 1
else:
    print("Inside else")

In [ ]:
# do-while
while True:
    number = int(input("Enter a positive number: "))
    if number > 0:
        print("OK")
        break
    print('Negative number')

In [ ]:
# pass
while int(input("Enter a number geater than 10: ")) <= 10:
  pass
print("Ok")

**Ex 11. Match-case**

In [ ]:
def weekday(n):
   match n:
      case 0: return "Monday"
      case 1: return "Tuesday"
      case 2: return "Wednesday"
      case 3: return "Thursday"
      case 4: return "Friday"
      case 5: return "Saturday"
      case 6: return "Sunday"
      case _: return "Invalid day number"

print(weekday(3))
print(weekday(6))
print(weekday(7))

**Ex 12. Binary conversion / Reprezentacja binarna**

In [ ]:
x = 0
for i in range(10):
  x += 0.1
print(x==1)
print(x, '==', 10*0.1)

**Ex 13. List / Lista**

https://www.w3schools.com/python/python_lists.asp

In [ ]:
temps = [ 0.0, 100.0, -17.78, 27.5, 37.78, 7.39 ]
print(temps)

In [ ]:
car_details = [ 'Kia', 'Sportage', 1.6, 3200]
print(car_details)

In [ ]:
list_of_lists = [ [ 1, 2, 3], ['a', 'b', 'c' ], [ 'One','Two','Three' ] ]
print(list_of_lists)

In [ ]:
list_1 = [1,2,3]
list_2 = [4,5,6,7,8]

print(list_1 + list_2)

In [ ]:
list_2 = [4,5,6,7,8]
max(list_2)

In [ ]:
list_1 = [1,2,3]
print(len(list_1))

In [ ]:
list_1 = [1,2,3]
print(list_1[0])

In [ ]:
list_1 = [ 'Kia', 'Sportage', 1.6, 3200]
print(list_1[-2])

In [ ]:
list_1 = [1,2,3]
list_1[0] = 10    # mutability
print(list_1)

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']
word = input("Write a word: ")
found = []
for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)

for vowel in found:
    print(vowel)

**Ex 14. Remove List Items / Lista - usuwanie elementów**

In [ ]:
numbers = [1,2,4,8]
print(numbers)

# deleting an element with a specific value
numbers.remove(4)
print(numbers)

In [ ]:
numbers = [1,2,4,8]
print(numbers)

# deleting an element with a specific index
del_num = numbers.pop(1)
print(del_num)

In [ ]:
numbers = [1,2,4,8]
print(numbers)

del numbers[0]
print(numbers)

**Ex 15. Add list items / Lista - dodawanie elementów**

In [ ]:
numbers = []
print(len(numbers))

numbers.append(10)
print(numbers)

In [ ]:
numbers = [1,2,3,4]
print(numbers)

# extension of the list of objects
numbers.extend([5,6])
print(numbers)

In [ ]:
print(numbers)
numbers.extend([[20,21],[31,32]])
print(numbers)

In [ ]:
print(numbers)
# extension of object (5) inserted BEFORE index (0)
numbers.insert(0,5)
print(numbers)

In [ ]:
print(numbers)
numbers.insert(1,25)
print(numbers)

In [ ]:
# The id() function returns a unique id for the specified object.
list_1 = [1,2,3]
list_2 = list_1[:]
print(id(list_1))
print(id(list_2))

In [ ]:
list_1.append(4)
list_2.append(4)
print(id(list_1))
print(id(list_2))

In [ ]:
list_1.clear()
list_2 = []
print(id(list_1))
print(id(list_2))

In [ ]:
numbers = [1,2,3,4]
print(numbers)

numbers.append([5,6])
print(numbers)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [ ]:
#In Python everythins is an object
numbers = [1,2,3,4]
print(numbers)
numbers = numbers.append(100)
print(numbers)

[1, 2, 3, 4]
None

**Ex 16. Copy a list / Lista - kopiowanie**

In [ ]:
numbers = list(range(10))
numbers2 = numbers
numbers3 = numbers.copy()
print(numbers)
print(numbers2)
print(numbers3)

In [ ]:
numbers.append(100)
print(numbers)
print(numbers2)
print(numbers3)

In [ ]:
numbers = list(range(10))
numbers2 = numbers[:]
numbers2.append(100)
print(numbers)
print(numbers2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [175]:
from typing import Any
from copy import deepcopy

a: list[Any] = [1, ['A', 'B'], 2]
b: list[Any] = a.copy()
print(f'a = {a}')
print(f'b = {b}')

b.append(100)
b[1][0] = 'AAAAA'
print(f'a = {a}')
print(f'b = {b}')

a = [1, ['A', 'B'], 2]
b = [1, ['A', 'B'], 2]
a = [1, ['AAAAA', 'B'], 2]
b = [1, ['AAAAA', 'B'], 2, 100]

In [176]:
from typing import Any
from copy import deepcopy

a: list[Any] = [1, ['A', 'B'], 2]
b: list[Any] = deepcopy(a)
print(f'a = {a}')
print(f'b = {b}')

b.append(100)
b[1][0] = 'real copy'
print(f'a = {a}')
print(f'b = {b}')

a = [1, ['A', 'B'], 2]
b = [1, ['A', 'B'], 2]
a = [1, ['A', 'B'], 2]
b = [1, ['real copy', 'B'], 2, 100]

**Ex 17. List - slicing / Lista - wycinki**

In [ ]:
s_letters = "AbCdEfGh"
letters = list(s_letters)
print(s_letters)
print(letters)

In [ ]:
print(letters[3:])

In [ ]:
print(letters[:2])

In [ ]:
print(letters[::2])

In [ ]:
print(letters[1:3])

In [ ]:
print(letters[0:7:2])

In [ ]:
for ch in letters:
    print('\t',ch)

In [ ]:
for ch in letters[0:7:2]:
    print('\t \t',ch)

In [ ]:
my_list = [1,3,5,7]
my_list = [i+1 for i in my_list]
print(my_list)

In [ ]:
my_list = [1,3,4,5,7,8]
my_list = [i for i in my_list if i % 2 == 0]
print(my_list)

In [ ]:
my_list = [1,3,4,5,7,8]
my_list = ['Even' if i%2 == 0 else 'Odd' for i in my_list]
print(my_list)

In [ ]:
my_list = [1,3,4,5,7,8]
def func(i):
    if i % 2 == 0: return 'Even'
    else: return 'Odd'
new_list = [func(i) for i in my_list]
print(new_list)

In [ ]:
my_list = list(range(4))
print(my_list)
for l in my_list:
  my_list = my_list + my_list
  print(my_list)

**Ex 18. Lists vs Strings / Listy a obiekty typu String**

In [ ]:
# String to list
s = "This is Python course"
l = list(s)
print(l)
l = s.split(' ')
print(l)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'o', 'u', 'r', 's', 'e']
['This', 'is', 'Python', 'course']

In [ ]:
letters = list("AbCdEfGh")
print(letters)

a = ''.join(letters)
print(f'a = {a}')

In [ ]:
b = '_'.join(letters)
print(f'b = {b}')

In [ ]:
c = '**'.join(letters)
print(f'c = {c}')

In [ ]:
print(''.join(letters[-3:]))

In [ ]:
print(''.join(letters[::-1]))

In [ ]:
print(''.join([1,2,3]))

**Ex 20. Lists sorting / Sortowanie list**

In [101]:
l = [4,2,1,19]
print(l)

l.sort()
print(l)

[4, 2, 1, 19]
[1, 2, 4, 19]

In [102]:
l = [4,2,1,19]
print(l)

l.reverse()
print(l)

[4, 2, 1, 19]
[19, 1, 2, 4]

In [103]:
l = [4,2,1,19]
sorted_l = l.sort()
print(f'l = {l}')
print(f'sorted_l = {sorted_l}')

l = [1, 2, 4, 19]
sorted_l = None

**Ex 21. Dictionary / Słownik**

https://www.w3schools.com/python/python_dictionaries.asp

In [ ]:
t_dict = {2:100}
print(t_dict)

In [ ]:
t_dict = {'number':100}
print(t_dict)

In [ ]:
number_1 = 2
t_dict = {(number_1,):['1','2','3']}
print(t_dict)

In [ ]:
#key - any immutable object - str,int,float,bool,tuple
#key - must be unique
number_1 = 2
t_dict = {['1','2','3']:(number_1,)}
print(t_dict)

In [ ]:
person = {'Name': 'Tom',
          'Phone': '123456789',
          'Occupation': 'engineer',
          'Home planet': 'Earth'}
print(person)
print(person['Home planet'])

In [ ]:
person = {'Name': 'Tom',
          'Phone': '123456789',
          'Occupation': 'engineer',
          'Home planet': 'Earth'}
print(person)

person['Age'] = '21'
print(person)

In [ ]:
#vowels = {'a' : 0, 'e' : 0, 'i' : 0, 'o' : 0, 'u' : 0}
vowels = ['a','e','i','o','u']
found_vowels ={}
word = input("Enter Your word: ")
for letter in word:
    if letter in vowels:
        found_vowels.setdefault(letter,0)
        found_vowels[letter] += 1

In [ ]:
#k:v -> key:values / k:v -> klucz:wartość
for k, v in sorted(found_vowels.items()):
    print(k, 'found', v, 'times')

In [ ]:
person = {'Name': 'Tom',
          'Phone': '123456789',
          'Occupation': 'engineer',
          'Home planet': 'Earth'}
print(person)

# keys only / tylko klucze
for key in person.keys():
  print(key.title())

In [ ]:
person = {'Name': 'Tom',
          'Phone': '123456789',
          'Occupation': 'engineer',
          'Home planet': 'Earth'}
print(person)

# values only / tylko wartości
for val in person.values():
  print(val.title())

In [ ]:
person = {'Name': 'Tom',
          'Phone': '123456789',
          'Occupation': 'engineer',
          'Home planet': 'Earth'}
print(person)

del person['Occupation']
print(person)

In [ ]:
person = {'Name': 'Tom',
          'Phone': '123456789',
          'Occupation': 'engineer',
          'Home planet': 'Earth'}
print(person)

print(person.get('Occupation','Key does not exist'))

In [ ]:
t_dict = {'Grade_1':'5.0',
          'Grade_2':'4.5',
          'Grade_3':'4.0'}

print('Grade_2' in t_dict)
print('5.0' in t_dict)

In [ ]:
t_dict = {"quiz_1":{'q1':[0,1,0,1],'q2':[1,1,1,0],'q3':[0,0,1,0]},
          "quiz_2":{'q1':[1,1,0,1],'q2':[0,1,0,0],'q3':[1,0,0,0]}}

print(t_dict['quiz_1']['q1'][2])

**Ex 21. Set / zbiór**

https://www.w3schools.com/python/python_sets.asp

In [ ]:
#no duplicates
vowels = set('aeiou')
print(f'vowels set: {vowels}')

word = input("Enter Your word: ")
print(word)

In [ ]:
sum_sets = vowels.union(set(word))
print(sum_sets)

In [ ]:
diff_sets = vowels.difference(set(word))
print(diff_sets)

In [ ]:
common_part=vowels.intersection(set(word))
print(common_part)

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {2, 3, 4}

print(set_a - set_b)
print(set_b - set_a)

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {2, 3, 4}

print(set_a & set_b)

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {2, 3, 4}

print(set_a | set_b)

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {2, 3, 4}

print(set_a ^ set_b)

In [ ]:
set_a: set[int] = {1, 2, 3, 4}
set_b: set[int] = {1, 2, 3}

print(set_a == set_b)
print(set_a >= set_b)
print(set_a <= set_b)

In [ ]:
set_a: set[int] = {1, 2, 3}
set_b: set[int] = {1, 2, 3, 4}

print(set_a == set_b)
print(set_a >= set_b)
print(set_a <= set_b)

In [ ]:
set_a: set[int] = {1, 2, 3, 4}
set_b: set[int] = {1, 3, 4}

set_a.difference_update(set_b)  # set_a -= set_b
print(set_a)

In [ ]:
set_a: set[int] = {1, 2, 3, 4, 5}

set_a.discard(2)
print(set_a)
set_a.discard(10)
print(set_a)

try:
  set_a.remove(10)
  print(set_a)
except:
  print(f'10 is not in {set_a}')

**Ex 22. Tuple / Krotka**

https://www.w3schools.com/python/python_tuples.asp

In [139]:
# tuple - indexable, immutable(it is not possible to change value of any component)
t = ('P','y','t','h','o','n')
print(t)
print(type(t))

('P', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>

In [ ]:
#tuple vs string
t = ('Python')
print(t)
print(type(t))

t = ('Python',)
print(t)
print(type(t))

In [ ]:
#tuple vs int
t_1 = (2)
print(t_1)
print(type(t_1))

t_2 = (2,)
print(t_2)
print(type(t_2))

In [145]:
t = (1,'tuple',2,5,6)
print(t)

(1, 'tuple', 2, 5, 6)

In [ ]:
print(t[0])

In [ ]:
print(t[1])

In [ ]:
print(t[-1])

In [ ]:
print(t[1:3])

In [ ]:
for e in t:
  print(e)

In [152]:
# swap variables
x = 1
y = 2
(x,y) = (y,x)
print(x)
print(y)

2
1

In [153]:
# return more than 1 value from a function
def quotient_and_reminder(x,y):
  q = x // y
  r = x % y
  return (q,r)
result = quotient_and_reminder(7,2)
print(result[0],result[1])

3 1

In [ ]:
(c,v) = (0,0)
t = (c,v)
print(t)
c+=1
print(t)
print(c,v)

In [ ]:
t[0]+=1
type((c,v))

**Ex 23. Function / Funkcje**

https://www.w3schools.com/python/python_functions.asp

In [ ]:
def search4vowels():
    vowels = set('aeiou')
    word = input("Enter a word in which you want to search for vowels: ")
    found = vowels.intersection(set(word))
    for vowel in found:
        print(vowel)

search4vowels()

In [ ]:
def search4vowels(word):
    vowels = set('aeiou')
    found = vowels.intersection(set(word))
    return bool(found)

print(search4vowels("Test"))

In [ ]:
def search4vowels(word, a = 1):
    vowels = set('aeiou')
    return vowels.intersection(set(word))

print(search4vowels("atest"))

**Ex 24. Recursion / Funkcja rekurencyjna**

In [ ]:
def change(phrase, position):
    if phrase[position].isupper():
        phrase = phrase[0:position] + phrase[position].lower() + phrase[position+1:]
    else:
        phrase = phrase[0:position] + phrase[position].upper() + phrase[position+1:]
    if position == len(phrase)-1: return phrase;
    return change(phrase, position+1)

txt = "Long long time ago. In the galaxy far away..."
print(change(txt, 0))

In [ ]:
def sum_list(t_list):
  if len(t_list) == 1:
    return t_list[0]
  else:
    return t_list[0] + sum_list(t_list[1:])

t_list = list(range(11))
print(t_list)
print(sum_list(t_list))

In [ ]:
def rev_list(t_list):
  if len(t_list) == 1:
    return t_list
  else:
    return rev_list(t_list[1:]) + [t_list[0]]

t_list = [[1,2],[3,4,5],['a','j','k']]
print(t_list)
print(rev_list(t_list))

**Ex 25. Help - function description/ Pomoc - opis funkcji**

In [ ]:
def search4letters(word:str, letters:str="aeiou") -> set:
    """
    Looks up letters in input word / Wyszukuje litery w słowie wejściowym
    If 2nd argument is missing, looks up vowels / W przypadku braku 2 argumentu, wyszukuje samogłoski
    """
    return set(letters).intersection(set(word))

help(search4letters)
print(search4letters("atest"))

**Ex 26. Fuction is an object / Funkcja jest obiektem**

In [ ]:
a = print(10)
print(a)

In [ ]:
def is_even(x):
  return x%2 == 0

new_fun = is_even
new_fun(10)

In [ ]:
def calc(op,a,b):
  return op(a,b)

def add(a,b):
  return a+b

def mul(a,b):
  return a*b

print(calc(add,1,7))
print(calc(mul,12,2))

In [ ]:
def add_2(a):
  return a+2

def add2even(c):
  if c%2 == 0:
    return add_2(c)
  else:
    return 'Did not increase'

print(add2even(217))
print(add2even(4))

**Ex 27. Functions - access to variables/ Funkcje - dostęp do zmiennych - poziomy widoczności**

In [ ]:
print("Function 1")
def f(y):
  x = 1
  x += 1
  print(x)

x = 10
f(x)
print(x)

In [ ]:
print("Function 2")
def g(y):
  print(x)
  print(x+1)

x = 10
g(x)
print(x)

In [ ]:
print("Function 3")
def h(y):
  x += 1

x = 10
h(x)
print(x)

**Ex 28. Global variables**

https://www.w3schools.com/python/python_variables_global.asp

In [ ]:
def h(y):
  global x
  x +=1

x = 10
h(x)
print(x)

**Ex 29. Lambda function - anonymous function / Lambda, czyli funkcje anonimowe**

https://www.w3schools.com/python/python_lambda.asp

In [ ]:
def is_even(x):
  return x%2 == 0

print(is_even(2))

In [ ]:
print((lambda x: x%2 == 0)(101))

**Ex 30. Function - variable number of arguments / Funkcje - zmienna ilość parameterów**

In [ ]:
def vargs_func(*args):
    print(args)

vargs_func('a','b','c')
vargs_func(1,2,3,4,5)

In [ ]:
def vargs_func(*args):
    print("Number of arguments:",len(args))
    for arg in args:
        print ("Value:",arg)

lista = [1,2,3,4]
vargs_func(1,lista,2,'xyz',3)

In [ ]:
def vargs_func(**kwargs):
    print("Number of arguments:",len(kwargs))
    for key, item in kwargs.items():
        print ("Key ", key, "Value ", item)

vargs_func(a=1,b=2,c=3)

In [ ]:
def vargs_func(*args, **kwargs):
    print("Number of parameters *args:",len(args))
    for arg in args:
        print ("Arg ", arg)

    print("Number of parameters **kwargs:",len(kwargs))
    for key, item in kwargs.items():
        print ("Key ", key, "Value ", item)

vargs_func(1,2,'x',[1,'a',2],a=1,b=2,c=3)

**Ex 31. Function - list as an agrument / Funkcje - przekazanie listy**

In [ ]:
t_list = list(range(1,6))
print(t_list)

def add2list(list):
  list[1] = 20
  list.append(10)

add2list(t_list)
print(t_list)

[1, 2, 3, 4, 5]
[1, 20, 3, 4, 5, 10]

In [ ]:
t_list = list(range(1,6))
print(t_list)

def add2list(list):
  list[1] = 20
  list.append(10)

add2list(t_list[:])
print(t_list)

In [ ]:
def print3args(arg1,arg2,arg3):
  print(f'Argument 1 = {arg1}')
  print(f'Argument 2 = {arg2}')
  print(f'Argument 2 = {arg3}')

print3args(*['one','two','three'])