**Ex 1. Typy danych skalarnych (scalar objects)**

In [ ]:
type(1)

int

In [ ]:
type(1.0)

float

In [ ]:
print(type(False))
type(True)

<class 'bool'>

bool

**Ex 2. Wyświetlanie w konsoli - print**

In [ ]:
x, y, z = 0, 2.0, 5
print('x = ',x)
print('y = {:.2f}'.format(y))
print(f'z = {y*z}')

x =  0
y = 2.00
z = 10.0

**Ex 3. Wybrane operatory matematyczne**

In [ ]:
# Dzielenie - część całkowita
print(7//4)
# Dzielnie - reszta
print(7%4)
# Potęgowanie
print(2**4)

1
3
16

**Ex 4. Obiekty typu string**

In [ ]:
a = "Języki"
b = "skryptowe"
c = a + b
print(c)
c = a + " " + b
print(c)
c = 2 * a + b
print(c)

Językiskryptowe
Języki skryptowe
JęzykiJęzykiskryptowe

In [ ]:
a = "Języki"
print(len(a))
print(a[0])
print(a[1])
print(a[-1])
print(a[-2])

6
J
ę
i
k

**Ex 5. Praca z obiektami typu string**

In [ ]:
# String slicing - substrings
a = "Języki skrytpowe"
print(a[2:5])   # [start:stop]
print(a[0:8:3]) # [start:stop:step]
print(a[::2])
print(a[::-1])
print(a[6:2:-2])
print(a[4:1])

zyk
Jy
Jzk kypw
ewoptyrks ikyzęJ
 k

In [ ]:
# String are immutable
a = 'Języki skryptowe'
print(a)
a = "Języki skrytpowe"
print(a)
print(a[2])
a[2]='X'

Języki skryptowe
Języki skrytpowe
z

TypeError: 'str' object does not support item assignment

In [ ]:
a = "Języki skrytpowe"
a = a[:2] + "X" + a[3:]
print(a)

JęXyki skrytpowe

In [ ]:
x = input("Enter text: ")
print(2*x)

Enter text: jakiś tekst
jakiś tekstjakiś tekst

**Ex 6. Dodanie modułu/biblioteki - from ... import**

In [ ]:
import datetime

this_minute = datetime.datetime.today().minute
print(this_minute)

19

In [ ]:
from datetime import datetime

this_minute = datetime.today().minute
print(this_minute)

**Ex 7. Dodanie modułu/biblioteki - from ... import ... as**

In [ ]:
from datetime import datetime as dt

this_minute = dt.today().minute
print(this_minute)

20

**Ex 8. Instrukcja warunkowa - if ... elif ... else**

In [ ]:
import time as t

today = t.strftime("%A")
if today == "Saturday":
    print("Python course")
elif today == "Sunday":
    print("No Python classes")
else:
    print("No classes at all")

if today != "Sonnabend":
  print("Please use English")

a = 5
b = 10
if a>3 and b<8:
  print("True")
else:
  print("False")

if a>3 or b<8:
  print("True")
else:
  print("False")

found = False
if not found:
  print("A jednak działa")
else:
  print("A jednak nie")

No classes at all
Please use English
False
True
A jednak działa

**Ex 9. Pętla for**

In [ ]:
for i in [1,2,3,5]:
    print(i)
print("----------")

for i in "Python":
    print(i)
print("----------")

for i in range(4):
    print("Python")
print("----------")

1
2
3
5
----------
P
y
t
h
o
n
----------
Python
Python
Python
Python
----------

In [ ]:
print(range(4))

print(list(range(4)))

print(list(range(4,10)))

print(list(range(0,8,2)))

print(list(range(8,0,-2)))

range(0, 4)
[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]
[0, 2, 4, 6]
[8, 6, 4, 2]

**Ex 10. Pętla while**

In [ ]:
# while
licznik = 0

while licznik < 3:
    print("Inside while")
    licznik += 1
else:
    print("Inside else")

# do-while
while True:
    liczba = int(input("Wprowadź liczbe dodatnią: "))
    if liczba > 0:
        print("OK")
        break
    print('Liczba ujemna')

# pass
while int(input("Podaj liczbę większą od 10: ")) <= 10:
  pass
print("Sukces")

Inside while
Inside while
Inside while
Inside else
Wprowadź liczbe dodatnią: 5
OK
Podaj liczbę większą od 10: 256
Sukces

**Ex 11. Wyrażenie match-case**

In [ ]:
def weekday(n):
   match n:
      case 0: return "Monday"
      case 1: return "Tuesday"
      case 2: return "Wednesday"
      case 3: return "Thursday"
      case 4: return "Friday"
      case 5: return "Saturday"
      case 6: return "Sunday"
      case _: return "Invalid day number"

print (weekday(3))
print (weekday(6))
print (weekday(7))

Thursday
Sunday
Invalid day number

**Ex 12. Reprezentacja binarna**

In [ ]:
x = 0
for i in range(10):
  x += 0.1
print(x==1)
print(x, '==', 10*0.1)

False
0.9999999999999999 == 1.0

**Ex 13. Lista**

In [ ]:
#lists
temps = [ 0.0, 100.0, -17.78, 27.5, 37.78, 7.39 ]
print(temps)
car_details = [ 'Kia', 'Sportage', 1.6, 3200]
print(car_details)
list_of_lists = [ [ 1, 2, 3], ['a', 'b', 'c' ], [ 'Jeden','Dwa','Trzy' ] ]
print(list_of_lists)

[0.0, 100.0, -17.78, 27.5, 37.78, 7.39]
['Kia', 'Sportage', 1.6, 3200]
[[1, 2, 3], ['a', 'b', 'c'], ['Jeden', 'Dwa', 'Trzy']]

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']
word = input("Write a word: ")
found = []
for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)

for vowel in found:
    print(vowel)

Write a word: stonoga
o
a

**Ex 14. Lista - usuwanie elementów**

In [ ]:
numbers = [1,2,4,8]
print(numbers)

# usuniecie elementu o okreslonej wartosci
numbers.remove(4)
print(numbers)

# usuniecie elementu o okreslonym indeksie
del_num = numbers.pop(1)
print(numbers)
print(del_num)

#usuniecie
del numbers[0]
print(numbers)

[1, 2, 4, 8]
[1, 2, 8]
[1, 8]
2
[8]

**Ex 15. Lista - dodawanie elementów**

In [ ]:
numbers = []
print(len(numbers))

numbers.append(10)
print(numbers)

numbers = [1,2,3,4]
print(numbers)

# rozszerzenie o liste obiektów
numbers.extend([5,6])
print(numbers)

# rozszerzenie o obiekt (5) wstawiony PRZED indeksem(0)
numbers.insert(0,5)
print(numbers)

numbers.insert(1,25)
print(numbers)

0
[10]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 25, 1, 2, 3, 4, 5, 6]

**Ex 16. Lista - kopiowanie**

In [ ]:
numbers = list(range(10))
print(numbers)
numbers2 = numbers
numbers3 = numbers.copy()
print(numbers2)
print(numbers3)
numbers.append(100)
print(numbers)
print(numbers2)
print(numbers3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Ex 17. Lista - wycinki**

In [ ]:
s_letters = "AbCdEfGh"
letters = list(s_letters)
print(s_letters)
print(letters)

print(letters[0])
print(letters[2])
print(letters[-1])
print(letters[-3])

print(letters[3:])
print(letters[:2])
print(letters[::2])
print(letters[1:3])
print(letters[0:7:2])

print(''.join(letters[-3:]))
print(''.join(letters[::-1]))

for ch in letters:
    print('\t',ch)

for ch in letters[0:7:2]:
    print('\t \t',ch)

AbCdEfGh
['A', 'b', 'C', 'd', 'E', 'f', 'G', 'h']
A
C
h
f
['d', 'E', 'f', 'G', 'h']
['A', 'b']
['A', 'C', 'E', 'G']
['b', 'C']
['A', 'C', 'E', 'G']
fGh
hGfEdCbA
	 A
	 b
	 C
	 d
	 E
	 f
	 G
	 h
	 	 A
	 	 C
	 	 E
	 	 G

In [ ]:
lista = [1,3,5,7]
lista = [i+1 for i in lista]
print(lista)

lista = [1,3,4,5,7,8]
lista = [i for i in lista if i % 2 == 0 ]
print(lista)

lista = [1,3,4,5,7,8]
lista = ['Parzysta' if i%2 == 0 else 'Nieparzysta' for i in lista]
print(lista)

lista = [1,3,4,5,7,8]
def func(i):
    if i % 2 == 0: return 'Parzyste'
    else: return 'Nieparzyste'
lista = [func(i) for i in lista]
print(lista)

[2, 4, 6, 8]
[4, 8]
['Nieparzysta', 'Nieparzysta', 'Parzysta', 'Nieparzysta', 'Nieparzysta', 'Parzysta']
['Nieparzyste', 'Nieparzyste', 'Parzyste', 'Nieparzyste', 'Nieparzyste', 'Parzyste']

**Ex 18. Słownik - dictionary**

In [ ]:
person = {'Name': 'Tom',
          'Phone': '123456789',
          'Occupation': 'engineer',
          'Home planet': 'Earth'}
print(person)
print(person['Home planet'])

person['Age'] = '21'
print(person)

#vowels = {'a' : 0, 'e' : 0, 'i' : 0, 'o' : 0, 'u' : 0}
vowels = ['a','e','i','o','u']
found_vowels ={}
word = input("Enter Your word: ")
for letter in word:
    if letter in vowels:
        found_vowels.setdefault(letter,0)
        found_vowels[letter] += 1

#k:v -> klucz:wartość
for k, v in sorted(found_vowels.items()):
    print(k, 'found', v, 'times')

# tylko klucze
for key in person.keys():
  print(key.title())

# tylko wartości
for val in person.values():
  print(val.title())

del person['Occupation']
print(person)

print(person.get('Occupation','Klucz nie istnieje'))

**Ex 19. Zbiór - set**

In [ ]:
#zbiór - nie ma duplikatów
vowels = set('aeiou')
word = input("Enter Your word: ")

sum_sets = vowels.union(set(word))
print(sum_sets)

diff_sets = vowels.difference(set(word))
print(diff_sets)

common_part=vowels.intersection(set(word))
print(common_part)

Enter Your word: stonoga
{'t', 'n', 'u', 'e', 'o', 'g', 's', 'a', 'i'}
{'e', 'i', 'u'}
{'a', 'o'}

**Ex 20. Krotka - tuple**

In [ ]:
#krotka vs string
t = ('P','y','t','h','o','n')
print(t)
t = ('Python')
print(type(t))
t = ('Python',)
print(t)
print(type(t))

# tuple - indexable, immutable(it is not possible to change value of any component)
t_1 = (2)
print(type(t_1))
t_2 = (2,)
print(type(t_2))

# swap variables
x = 1
y = 2
(x,y) = (y,x)
print(x)
print(y)

# return more than 1 value from a function
def quotient_and_reminder(x,y):
  q = x // y
  r = x % y
  return (q,r)
result = quotient_and_reminder(4,2)
print(result[0],result[1])

('P', 'y', 't', 'h', 'o', 'n')
<class 'str'>
('Python',)
<class 'tuple'>
<class 'int'>
<class 'tuple'>
2
1
2 0

**Ex 21. Funkcje**

In [ ]:
def search4vowels():
    vowels = set('aeiou')
    word = input("Podaj słowo, w którym należy wyszukać samogłoski: ")
    found = vowels.intersection(set(word))
    for vowel in found:
        print(vowel)

search4vowels()

Podaj słowo, w którym należy wyszukać samogłoski: abrakadarbva
a

In [ ]:
def search4vowels(word):
    vowels = set('aeiou')
    found = vowels.intersection(set(word))
    return bool(found)

print(search4vowels("Test"))

True

In [ ]:
def search4vowels(word):
    vowels = set('aeiou')
    return vowels.intersection(set(word))

print(search4vowels("atest"))

**Ex 22. Funkcja rekurencyjna**

In [ ]:
def change(phrase, position):
    if phrase[position].isupper():
        phrase = phrase[0:position] + phrase[position].lower() + phrase[position+1:]
    else:
        phrase = phrase[0:position] + phrase[position].upper() + phrase[position+1:]
    if position == len(phrase)-1: return phrase;
    return change(phrase, position+1)

txt = "Long long time ago. In the galaxy far away..."
print(change(txt, 0))

lONG LONG TIME AGO. iN THE GALAXY FAR AWAY...

**Ex 23. Funkcje - jak działa help**

In [ ]:
def search4letters(word:str, letters:str="aeiou") -> set:
    """
    Wyszukuje litery w słowie wejściowym
    W przypadku braku 2 argumentu, wyszukuje samogłoski
    """
    return set(letters).intersection(set(word))

help(search4letters)
print(search4letters("atest"))

Help on function search4letters in module __main__:

search4letters(word: str, letters: str = 'aeiou') -> set
    Wyszukuje litery w słowie wejściowym

{'a', 'e'}

**Ex 24. Funkcja jest obiektem**

In [ ]:
a = print(5)
print(a)

5
None

In [ ]:
def is_even(x):
  return x%2 == 0

new_fun = is_even
new_fun(2)

True

In [ ]:
def calc(op,a,b):
  return op(a,b)

def add(a,b):
  return a+b

def mul(a,b):
  return a*b

print(calc(add,2,3))
print(calc(mul,10,2))

5
20

In [ ]:
def add_2(a):
  return a+2

def add2even(c):
  if c%2 == 0:
    return add_2(c)
  else:
    return 'Nie zwiększono'

print(add2even(2))
print(add2even(3))

4
Nie zwiększono

**Ex 25. Funkcje - dostęp do zmiennych - poziomy widoczności**

In [ ]:
print("Funkcja 1")
def f(y):
  x = 1
  x += 1
  print(x)

x = 10
f(x)
print(x)

print("Funkcja 2")
def g(y):
  print(x)
  print(x+1)

x = 10
g(x)
print(x)

print("Funkcja 3")
def h(y):
  x += 1

x = 10
h(x)
print(x)

Funkcja 1
2
10
Funkcja 2
10
11
10
Funkcja 3

UnboundLocalError: local variable 'x' referenced before assignment

**Ex 26. Funkcje - zmienna global**

In [ ]:
def h(y):
  global x
  x +=1

x = 10
h(x)
print(x)

11

**Ex 27. Lambda, czyli funkcje anonimowe**

In [ ]:
def is_even(x):
  return x%2 == 0

print(is_even(4))

print((lambda x: x%2 == 0)(12))

True
True

**Ex 28. Funkcje - zmienna ilość parameterów**

In [ ]:
def vargs_func(*args):
    print(args)

vargs_func('a','b','c')
vargs_func(1,2,3,4,5)

('a', 'b', 'c')
(1, 2, 3, 4, 5)

In [ ]:
def vargs_func(*args):
    print("Liczba przekazanych parametrów:",len(args))
    for arg in args:
        print ("Wartość:",arg)

lista = [1,2,3,4]
vargs_func(1,lista,2,'xyz',3)

Liczba przekazanych parametrów: 5
Wartość: 1
Wartość: [1, 2, 3, 4]
Wartość: 2
Wartość: xyz
Wartość: 3

In [ ]:
def vargs_func(**kwargs):
    print("Number of parameters:",len(kwargs))
    for key, item in kwargs.items():
        print ("Key ", key, "Vslue ", item)

vargs_func(a=1,b=2,c=3)

Number of parameters: 3
Key  a Vslue  1
Key  b Vslue  2
Key  c Vslue  3

In [ ]:
def vargs_func(*args, **kwargs):
    print("Number of parameters *args:",len(args))
    for arg in args:
        print ("Arg ", arg)

    print("Number of parameters **kwargs:",len(kwargs))
    for key, item in kwargs.items():
        print ("Key ", key, "Value ", item)

vargs_func(1,2,'x',[1,'a',2],a=1,b=2,c=3)

Number of parameters *args: 4
Arg  1
Arg  2
Arg  x
Arg  [1, 'a', 2]
Number of parameters **kwargs: 3
Key  a Value  1
Key  b Value  2
Key  c Value  3

**Ex 29. Funkcje - przekazanie listy**

In [17]:
t_list = list(range(1,6))
print(t_list)

def add2list(list):
  list[1] = 20
  list.append(10)

add2list(t_list)
print(t_list)

[1, 2, 3, 4, 5]
[1, 20, 3, 4, 5, 10]

In [18]:
t_list = list(range(1,6))
print(t_list)

def add2list(list):
  list[1] = 20
  list.append(10)

add2list(t_list[:])
print(t_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [14]:
def print3args(arg1,arg2,arg3):
  print(f'Argument 1 = {arg1}')
  print(f'Argument 2 = {arg2}')
  print(f'Argument 2 = {arg3}')

print3args(*['one','two','three'])

Argument 1 = one
Argument 2 = two
Argument 2 = three