**Introduction to Python programming - extension / Rozszerzenie wprowadzenia do programowania w języku Python**

ver. 2025.10

**Unpacking operator / Operator wypakowania**

In [ ]:
numbers: tuple[str, ...] = ('One','Two','Three','Four','Five')
first, *_, last = numbers
print(first, last)

In [ ]:
numbers: tuple[str, ...] = ('One','Two','Three','Four','Five')
first, *_, second_to_last, last = numbers
print(second_to_last)

In [ ]:
numbers: tuple[str, ...] = ('One','Two','Three','Four','Five')
first, *middle, last = numbers
print(middle)
print(type(middle))

In [ ]:
numbers: list[int] = [1,2,3,4,5,6,7,8,9,10]
*leftover, last = numbers
print(leftover)
print(type(leftover))
print(last)
print(type(last))

**Keyword *is* vs ==**

https://www.w3schools.com/python/ref_keyword_is.asp

In [ ]:
a: int = 1
b: int = 2

print(a == b)
print(id(a))
print(id(b))

In [ ]:
a: int = 1
b: int = 2

print(a is b)
print(id(a))
print(id(b))

In [ ]:
alias_a = a
print(a is alias_a)
print(id(a))
print(id(alias_a))

In [ ]:
a = [1,2,3]
b = [1,2,3]

print(a==b)
print(a is b)

**Creating Lists Faster / Szybsze tworzenie list**

In [ ]:
%timeit list_1 = list()
%timeit list_2 = []

55.2 ns ± 0.906 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
27.9 ns ± 0.728 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
from dis import dis

dis("[]")
dis("list()")

  0           0 RESUME                   0

  1           2 BUILD_LIST               0
              4 RETURN_VALUE
  0           0 RESUME                   0

  1           2 PUSH_NULL
              4 LOAD_NAME                0 (list)
              6 CALL                     0
             14 RETURN_VALUE

**Set or List / Zbiór czy lista**

In [ ]:
%timeit my_list = list(range(1000))
%timeit my_set = set(range(1000))

15.7 µs ± 2.07 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)
42.5 µs ± 8.1 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
my_list = list(range(1000))
%timeit 0 in my_list
%timeit 1 in my_list
%timeit 10 in my_list
%timeit 100 in my_list
%timeit 9999 in my_list

25.6 ns ± 0.539 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
49.3 ns ± 15.1 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
158 ns ± 39.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
1.07 µs ± 5.01 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
12.3 µs ± 2.68 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
my_set = set(range(1000))
%timeit 0 in my_set
%timeit 1 in my_set
%timeit 10 in my_set
%timeit 100 in my_set
%timeit 9999 in my_set

32.7 ns ± 3.16 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
46.7 ns ± 12.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
29.8 ns ± 0.643 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
29.7 ns ± 0.649 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
29.8 ns ± 0.564 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

**Strings - add or join / Obiekty typu String - konkatenacja czy łączenie**

In [ ]:
strs = ['Life', 'is', 'short,', 'I', 'use', 'Python']

def join_strs(strs):
    result = ''
    for s in strs:
        result += ' ' + s
    return result[1:]

%timeit join_strs(strs)

def join_strs_better(strs):
    return ' '.join(strs)

%timeit join_strs_better(strs)

946 ns ± 270 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
197 ns ± 41.9 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

**One-Liners for String Manipulation**

https://www.kdnuggets.com/15-useful-python-one-liners-string-manipulation

In [ ]:
t_str = ["this", "is", "python", "course"]
uppercase_string = [s.upper() for s in t_str]
print(uppercase_string)

In [ ]:
fruits = ["apple", "banana", "cherry", "apricot", "blueberry"]
filtered = [s for s in fruits if "ap" in s]
print(filtered)

In [ ]:
strings = ["  fun ", " funky "]
trimmed_strings = [s.strip() for s in strings]
print(trimmed_strings)

In [ ]:
to_do = ["code", "debug", "refactor"]
reversed_strings = [task[::-1] for task in to_do]
print(reversed_strings)

In [ ]:
strings = ["code", "debug", "test"]
prefixed_strings = [f"py-{s}" for s in strings]
print(prefixed_strings)

In [ ]:
strings = ["learn python", "python is fun"]
split_strings = [s.split() for s in strings]
print(split_strings)

In [ ]:
strings = ["Learn C", "Code in C"]
replaced_strings = [string.replace("C", "Python") for string in strings]
print(replaced_strings)

In [ ]:
strings = ["Apple", "banana", "Cherry", "date"]
sorted_strings = sorted(strings, key=lambda s: s.lower())
print(sorted_strings)

**The Walrus Operator :=**

In [ ]:
data = [1, 2, 3, 4, 10]

if (avg := sum(data) / len(data)) > 3:
    print(f"Average is {avg}")

Average is 4.0